body{

    background-color:rgb(143, 139, 122);
    background: url(https://cdn.pixabay.com/photo/2017/05/30/05/46/goa-2355883_640.jpg);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    color: white;
}