body{
    background: url(https://cdn.pixabay.com/photo/2016/11/14/03/29/grand-palace-1822487_1280.jpg);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:rgb(143, 139, 122);
    color: white;
}